
@{
    ViewData["Title"] = "Eventelem";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div>
        <table border="2" cellpadding="10">
            <div><caption class="caption">Элементы мероприятия</caption></div>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Start</th>
                <th>End</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div id="sidebar">
        <div class="widget">
            <h3 class="widget-title">Категории</h3>
            <ul class="widget-list">
                <li><a href="index.html">Главная</a></li>
                <li><a href="participants.html">Участники мероприятия</a></li>
                <li><a href="events.html">Мероприятия</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
