@{
    Layout = null;
}


<!DOCTYPE HTML>
<html>
<head>
    <title>Окно в ад</title>
    <meta name="author" content="Эт Я" />
    <meta http-equiv="content-type" content="text/html chatset = UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/js/index.js"></script>
</head>
<body onload="ale()">
    <div id="sidebar">
        <div class="widget">
            <h3 class="widgettitle">Категории</h3>
            <ul class="widgetlist">
                <li><a href="@Url.Action("Participants", "Home")">Участники мероприятия</a></li>
                <li><a href="@Url.Action("Events", "Home")">Мероприятия</a></li>
                <li><a href="@Url.Action("Eventelem", "Home")">Элементы мероприятия</a></li>
            </ul>
        </div>
    </div>
</body>
</html>