<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
 </head>
    <body>
        <div>
            <table border="2" cellpadding="10">
                <div><caption class="caption">Участники мероприятия</caption></div>
   <tr>
    <th>Id</th>
    <th>Surename</th>
    <th>Name</th>
    <th>Middle Name</th>
    <th>Birth Date</th>
    <th>Phone Number</th>
    <th>E-mail</th>
    <th>Company</th>
    <th>Post</th>
    <th>Company Field of Activity</th>
    <th>Main Office Country</th>
    <th>Residence Country</th>
    <th>Citizenship</th>
    <th>Hotel</th>
    <th>Type of Room</th>
    <th>Event</th>
   </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
            </table>
            </div> 
        <div id="sidebar">
    <div class="widget">
      <h3 class="widget-title">Категории</h3>
      <ul class="widget-list">
        <li><a href="index.html">Главная</a></li>
        <li><a href="events.html">Мероприятия</a></li>
        <li><a href="eventelem.html">Элементы мероприятия</a></li>
      </ul>
    </div>
    </div>
    </body>
</html>